/* 오늘의 쇼핑 제안 */




.layout {

    margin: 100px auto;
    width: 1022px;
     font-family:'Noto Sans KR', sans-serif;
}
.header {
    margin-bottom: 48px;
}
.header .logo{}
.header .logo a{}

.header .logo a picture {}
.header .logo a picture source{}
.header .logo a picture img{
    display: block;
    width: 176px;
}




.offer {}
.offer h2{
    padding-left: 30px;
    font-size: 24px;
    font-weight: 400;
    background-image: url("../../assets/icon/shopping.svg");
    background-repeat: no-repeat;
margin-bottom: 24px;
}



/* 리스트 */
.offer .offer-wrap{
    display: flex;
    justify-content: space-between;
}
.offer .offer-wrap .offer-item{
    position: relative;
    width: 200px;
    height: 270px;
    text-align: center;

}

.offer .offer-wrap .offer-item a {}
.offer .offer-wrap .offer-item a .discount-rate{
    position: absolute;
    color: white;
    background-color: var(--color-red-500);
    line-height: 180%;
    font-size: 16px;
    font-weight: 600;
    width: 53px;
    height: 30px;
    text-align: center;
    border-radius: 0 0 4px 0;
}